<ion-header>

  <ion-navbar primary>
    <ion-title>HighschoolSelect</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="highschool-select">
  <ion-list>
    <ion-item>
      <ion-label>Choose a State</ion-label>
      <ion-select [(ngModel)]="schoolState" (ionChange)="getCityList(schoolState)">
        <ion-option value="AL">AL</ion-option>
        <ion-option value="AK">AK</ion-option>
        <ion-option value="AZ">AZ</ion-option>
        <ion-option value="AR">AR</ion-option>
        <ion-option value="CA">CA</ion-option>
        <ion-option value="CO">CO</ion-option>
        <ion-option value="CT">CT</ion-option>
        <ion-option value="DE">DE</ion-option>
        <ion-option value="FL">FL</ion-option>
        <ion-option value="GA">GA</ion-option>
        <ion-option value="HI">HI</ion-option>
        <ion-option value="ID">ID</ion-option>
        <ion-option value="IL">IL</ion-option>
        <ion-option value="IN">IN</ion-option>
        <ion-option value="IA">IA</ion-option>
        <ion-option value="KS">KS</ion-option>
        <ion-option value="KY">KY</ion-option>
        <ion-option value="LA">LA</ion-option>
        <ion-option value="ME">ME</ion-option>
        <ion-option value="MD">MD</ion-option>
        <ion-option value="MA">MA</ion-option>
        <ion-option value="MI">MI</ion-option>
        <ion-option value="MN">MN</ion-option>
        <ion-option value="MS">MS</ion-option>
        <ion-option value="MO">MO</ion-option>
        <ion-option value="MT">MT</ion-option>
        <ion-option value="NE">NE</ion-option>
        <ion-option value="NV">NV</ion-option>
        <ion-option value="NH">NH</ion-option>
        <ion-option value="NJ">NJ</ion-option>
        <ion-option value="NM">NM</ion-option>
        <ion-option value="NY">NY</ion-option>
        <ion-option value="NC">NC</ion-option>
        <ion-option value="ND">ND</ion-option>
        <ion-option value="OH">OH</ion-option>
        <ion-option value="OK">OK</ion-option>
        <ion-option value="OR">OR</ion-option>
        <ion-option value="PA">PA</ion-option>
        <ion-option value="RI">RI</ion-option>
        <ion-option value="SC">SC</ion-option>
        <ion-option value="SD">SD</ion-option>
        <ion-option value="TN">TN</ion-option>
        <ion-option value="TX">TX</ion-option>
        <ion-option value="UT">UT</ion-option>
        <ion-option value="VT">VT</ion-option>
        <ion-option value="VA">VA</ion-option>
        <ion-option value="WA">WA</ion-option>
        <ion-option value="WV">WV</ion-option>
        <ion-option value="WI">WI</ion-option>
        <ion-option value="WY">WY</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="pickCity">
    <ion-item>
      <ion-label>Choose a City</ion-label>
      <ion-select [(ngModel)]="schoolCity" (ionChange)="getSchoolList(schoolCity)">
        <ion-option *ngFor="let city of cityList"
          value="{{city?.id}}">{{city?.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-searchbar light [(ngModel)]="searchQuery" (ionInput)="getItems($event)" (ionCancel)="initializeItems()"
    (ionClear)="initializeItems()" *ngIf="showSearch"></ion-searchbar>
  <ion-list *ngIf="showList">
    <ion-item *ngFor="let school of schoolList" text-wrap>
      <h2>{{school?.name}}</h2>
      <p>{{school?.city}}, {{school?.state}}</p>
      <ion-icon name="add-circle" item-right
        (click)="addSchool(school.state, school.city, school.name, school.id)" tappable></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
