<ion-header>
  <ion-navbar primary>
    <ion-title><img src="img/logo-txt.png" class="nav-logo"></ion-title>
    <ion-buttons end>
      <button (click)="goToSearch()"><ion-icon name="search"></ion-icon></button>
      <button (click)="goToProfile()"><ion-icon name="person"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="app-map">

  <div class="app-map-segment md">
    <ion-segment [(ngModel)]="todoCategory" class="fixed-segment" [class.fixed-segment-android]="isAndroid" [class.fixed-segment-windows]="isWindows">
      <ion-segment-button value="general">
        General
      </ion-segment-button>
      <ion-segment-button value="apply">
        Apply
      </ion-segment-button>
      <ion-segment-button value="finAid">
        Fin Aid
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="todoCategory" class="app-map-div" [class.app-map-div-android]="isAndroid">
    <ion-list *ngSwitchCase="'general'">
      <ion-item text-wrap *ngFor="let todo of generalList" (click)="goToDetail(todo)"
         no-lines>
        <ion-row center>
          <ion-col width-10>
            <ion-icon *ngIf="todo.completed" ios="md-checkbox-outline" md="md-checkbox-outline" item-left></ion-icon>
            <ion-icon *ngIf="!todo.completed" ios="md-square-outline" md="md-square-outline" item-left></ion-icon>
          </ion-col>
          <ion-col offset-10>
            <h2>{{todo.title}}</h2>
            <p>{{todo.progress?.toFixed(2) || 0}}%</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'apply'">
      <ion-item text-wrap *ngFor="let todo of applyList" (click)="goToDetail(todo)"
         no-lines>
        <ion-row center>
          <ion-col width-10>
            <ion-icon *ngIf="todo.completed" ios="md-checkbox-outline" md="md-checkbox-outline" item-left></ion-icon>
            <ion-icon *ngIf="!todo.completed" ios="md-square-outline" md="md-square-outline" item-left></ion-icon>
          </ion-col>
          <ion-col offset-10>
            <h2>{{todo.title}}</h2>
            <p>{{todo.progress?.toFixed(2) || 0}}%</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'finAid'">
      <ion-item text-wrap *ngFor="let todo of aidList" (click)="goToDetail(todo)"
         no-lines>
        <ion-row center>
          <ion-col width-10>
            <ion-icon *ngIf="todo.completed" ios="md-checkbox-outline" md="md-checkbox-outline" item-left></ion-icon>
            <ion-icon *ngIf="!todo.completed" ios="md-square-outline" md="md-square-outline" item-left></ion-icon>
          </ion-col>
          <ion-col offset-10>
            <h2>{{todo.title}}</h2>
            <p>{{todo.progress?.toFixed(2) || 0}}%</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
