<ion-header>
  <ion-navbar primary>
    <ion-title><img src="img/logo-txt.png" class="nav-logo"></ion-title>
    <ion-buttons end>
      <button (click)="goToSearch()"><ion-icon name="search"></ion-icon></button>
      <button (click)="goToProfile()"><ion-icon name="person"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="collegeCategory">
      <ion-segment-button value="moonshot" *ngIf="isAndroid">
        <ion-avatar>
          <img src="img/moonshot_green.png" />
        </ion-avatar>
      </ion-segment-button>
      <ion-segment-button value="moonshot" *ngIf!="isAndroid">
        Moonshot
      </ion-segment-button>
      <ion-segment-button value="reach" *ngIf!="isAndroid">
        Reach
      </ion-segment-button>
      <ion-segment-button value="reach" *ngIf="isAndroid">
        <ion-avatar>
          <img src="img/reach_green.png" />
        </ion-avatar>
      </ion-segment-button>
      <ion-segment-button value="target" *ngIf!="isAndroid">
        Target
      </ion-segment-button>
      <ion-segment-button value="target" *ngIf="isAndroid">
        <ion-avatar>
          <img src="img/target_green.png" />
        </ion-avatar>
      </ion-segment-button>
      <ion-segment-button value="safety" *ngIf!="isAndroid">
        Safety
      </ion-segment-button>
      <ion-segment-button value="safety" *ngIf="isAndroid">
        <ion-avatar>
          <img src="img/safety_green.png" />
        </ion-avatar>
      </ion-segment-button>
      <ion-segment-button value="other">
        Other
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content class="list">

  <div [ngSwitch]="collegeCategory" class="list-div" [class.list-div-android]="isAndroid">
    <ion-list *ngSwitchCase="'moonshot'">
      <ion-item text-wrap no-lines *ngFor="let college of moonshotList let index=index" >

        <ion-grid (click)="goToCollegeDetail(college.key, college.admissibility)" tappable>
          <ion-row>

            <ion-col width-20>
              <img src="img/moonshot_green.png">
            </ion-col>
            <ion-col center>
              <h2>{{college.displayName}}</h2>
              <p>{{college.city}}, {{college.state}}</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'reach'">
      <ion-item text-wrap no-lines *ngFor="let college of reachList let index=index" >
        <ion-grid (click)="goToCollegeDetail(college.key, college.admissibility)" tappable>
          <ion-row>

            <ion-col width-20>
              <img src="img/reach_green.png">
            </ion-col>
            <ion-col center>
              <h2>{{college.displayName}}</h2>
              <p>{{college.city}}, {{college.state}}</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'target'">
        <ion-item text-wrap no-lines *ngFor="let college of targetList let index=index" >
          <ion-grid (click)="goToCollegeDetail(college.key, college.admissibility)" tappable>
            <ion-row>

              <ion-col width-20>
                <img src="img/target_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'safety'">
        <ion-item text-wrap no-lines *ngFor="let college of safetyList let index=index">
          <ion-grid (click)="goToCollegeDetail(college.key, college.admissibility)" tappable>
            <ion-row>
              <ion-col width-20>
                <img src="img/safety_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'other'">
        <ion-item text-wrap no-lines *ngFor="let college of otherList let index=index" >
          <ion-grid (click)="goToCollegeDetail(college.key)" tappable>
            <ion-row>

              <ion-col width-20>
                <img src="img/college_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>

  </div>
</ion-content>
