<ion-header>
  <ion-navbar primary>
    <ion-title><img src="img/logo-txt.png" class="nav-logo"></ion-title>
    <ion-buttons end>
      <button (click)="goToSearch()"><ion-icon name="search"></ion-icon></button>
      <button (click)="goToProfile()"><ion-icon name="person"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list">

  <div class="list-segment md">
    <ion-segment [(ngModel)]="collegeCategory" class="fixed-segment" [class.fixed-segment-windows]="isWindows">
      <ion-segment-button value="moonshot">
        Moonshot
      </ion-segment-button>
      <ion-segment-button value="reach">
        Reach
      </ion-segment-button>
      <ion-segment-button value="target">
        Target
      </ion-segment-button>
      <ion-segment-button value="safety">
        Safety
      </ion-segment-button>
      <ion-segment-button value="other">
        Other
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="collegeCategory" class="list-div">
    <ion-list *ngSwitchCase="'moonshot'">
      <ion-item-sliding #slidingItem *ngFor="let college of moonshotList let index=index">

        <ion-item text-wrap no-lines>
          <ion-grid (click)="goToCollegeDetail(college.key, 'moonshot')">
            <ion-row>

              <ion-col width-10 center >
                <h2>{{ index + 1}}</h2>
              </ion-col>
              <ion-col width-20>
                <img src="img/moonshot_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="college.favorite" danger large (click)="removeCollegeAsFavorite(college.key, slidingItem, index)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'reach'">
      <ion-item-sliding #slidingItem *ngFor="let college of reachList let index=index">

        <ion-item text-wrap no-lines>
          <ion-grid (click)="goToCollegeDetail(college.key, 'reach')">
            <ion-row>

              <ion-col width-10 center >
                <h2>{{ index + 1}}</h2>
              </ion-col>
              <ion-col width-20>
                <img src="img/reach_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="college.favorite" danger large (click)="removeCollegeAsFavorite(college.key, slidingItem, index)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'target'">
      <ion-item-sliding #slidingItem *ngFor="let college of targetList let index=index">

        <ion-item text-wrap no-lines>
          <ion-grid (click)="goToCollegeDetail(college.key, 'target')">
            <ion-row>

              <ion-col width-10 center >
                <h2>{{ index + 1}}</h2>
              </ion-col>
              <ion-col width-20>
                <img src="img/target_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="college.favorite" danger large (click)="removeCollegeAsFavorite(college.key, slidingItem, index)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'safety'">
      <ion-item-sliding #slidingItem *ngFor="let college of safetyList let index=index">

        <ion-item text-wrap no-lines>
          <ion-grid (click)="goToCollegeDetail(college.key, 'safety')">
            <ion-row>

              <ion-col width-10 center >
                <h2>{{ index + 1}}</h2>
              </ion-col>
              <ion-col width-20>
                <img src="img/safety_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="college.favorite" danger large (click)="removeCollegeAsFavorite(college.key, slidingItem, index)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'other'">
      <ion-item-sliding #slidingItem *ngFor="let college of otherList let index=index">

        <ion-item text-wrap no-lines>
          <ion-grid (click)="goToCollegeDetail(college.key)">
            <ion-row>

              <ion-col width-10 center >
                <h2>{{ index + 1}}</h2>
              </ion-col>
              <ion-col width-20>
                <img src="img/college_green.png">
              </ion-col>
              <ion-col center>
                <h2>{{college.displayName}}</h2>
                <p>{{college.city}}, {{college.state}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="college.favorite" danger large (click)="removeCollegeAsFavorite(college.key, slidingItem, index)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
</ion-content>
