.profile {

  .profile_img {
    background-color: #C8D6AF;
  }

  img {
    max-width: 250px !important;
    max-height: 250px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    //border: 4px black solid;
  }

  ion-item ion-label {
    margin: 0 !important;
  }

  ion-list {
    margin: 0;
    padding: 0;
  }

  ion-list-header {
    background-color: #ECECEC;
    margin: 0;
    padding: 10px 16px;
    color: #000000;
    font-weight: bold;
    font-size: 1.25em;
  }

  ion-item {
    padding: 0;

  }

  ion-datetime {
    padding-left: 3px !important;
  }

  .item-inner {
    border: none !important;
    padding: 0;
  }

  .popover-content {
    min-height: 0 !important;
    max-height: 88px !important;
  }

  .profile-popover {
    margin-top: -1px !important;
  }

  .placeholder-profile {
    color: #CCCCCC;
  }

  .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
  }
}
