ion-searchbar {
  background: #00A88C;
}
.search {
  ion-item-sliding:nth-child(even) {
    ion-item {
      background-color: #FFECCC !important;
    }
  }

  ion-item-sliding:nth-child(odd) {
    ion-item {
      background-color: #C8D6AF !important;
      color: black;
    }
  }

}

.search .virtual-position {
  width: 100% !important;
}

.search ion-row {
  width: 100% !important;
}

.search ion-col {
  padding: 0 !important;
}

.search ion-item {
  padding: 0 !important;
}

.search .inner-item {
  padding: 0 !important;
}

.search ion-thumbnail {
  margin: 0 8px 0 0 !important;
}

.search p {

}

.college-stats {
  text-align: center;
  margin-top: 5px;
}

.college-stats h2 {
  font-weight: bold;
  font-size: 1.4em;
}

.college-info {
  margin-left: 10px !important;
}

// Styles for the talking avatar
.search .mr-cesar-college {
  margin-top: 32px !important;
}

.search .mr-cesar-college p {
  text-align: center;
  font-size: 1.25em;
  margin: 0 4px;
  padding: 12px 0;
}

.search .mr-cesar-college img {
  width: 40% !important;
  margin: 16px 30% 0 30% !important;
}


.college-info h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.college-info p {
  font-size: 1em;
}
