.squad-placeholder {
  img {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

  h3 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 5px;
    }
  }
}
