<ion-header>
  <ion-navbar primary>
    <ion-title>College Search</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)"
    [hideCancelButton]="true" (ionCancel)="initializeItems()" (ionClear)="initializeItems()">
  </ion-searchbar>
</ion-header>

<ion-content class="anonymous-search">

    <ion-list *ngIf="showList">

        <ion-item text-wrap *ngFor="let college of collegeList">
          <ion-grid (click)="goToCollege()">
            <ion-row>
              <ion-col width-75 center class="college-info">
                <h2>{{ college.displayName }}</h2>
                <p>{{ college.subHeading }} </p>
                <p>{{ college.city }}, {{ college.state }}</p>
              </ion-col>
              <ion-col center>
                <img src="img/college_building.png">
              </ion-col>
            </ion-row>

            <ion-row class="college-stats">
              <ion-col width-33>
                <h2>{{ college.gradRate | percent:'1.0-0' }}</h2>
                <p>Grad Rate</p>
              </ion-col>
              <ion-col width-33>
                <h2>{{ college.retentionRate | percent:'1.0-0' }}</h2>
                <p>Retention</p>
              </ion-col>
              <ion-col width-33 *ngIf='college.admitRate'>
                <h2>{{ college.admitRate | percent:'1.0-0' }}</h2>
                <p>Admit Rate</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>

    <div class="mr-cesar-college" *ngIf="!showList">
      <h4>
        Search by school name or by category
      </h4>
      <img src="img/mr-cesar-face.png">
    </div>

    <ion-list padding class="admissibility-list" *ngIf="!showList">
      <ion-item (click)="goToFilteredList('moonshot')">
        <ion-avatar item-left>
          <img src="img/moonshot_green.png">
        </ion-avatar>
        <h2>Moonshot</h2>
      </ion-item>

      <ion-item (click)="goToFilteredList('reach')">
        <ion-avatar item-left>
          <img src="img/reach_green.png">
        </ion-avatar>
        <h2>Reach</h2>
      </ion-item>

      <ion-item (click)="goToFilteredList('target')">
        <ion-avatar item-left>
          <img src="img/target_green.png">
        </ion-avatar>
        <h2>Target</h2>
      </ion-item>

      <ion-item (click)="goToFilteredList('safety')">
        <ion-avatar item-left>
          <img src="img/safety_green.png">
        </ion-avatar>
        <h2>Safety</h2>
      </ion-item>

      <ion-item (click)="goToFilteredList('CUNY')" *ngIf="userState == 'NY'">
        <ion-avatar item-left>
          <img src="img/college_green.png">
        </ion-avatar>
        <h2>CUNY</h2>
      </ion-item>

      <ion-item (click)="goToFilteredList('SUNY')" *ngIf="userState == 'NY'">
        <ion-avatar item-left>
          <img src="img/college_green.png">
        </ion-avatar>
        <h2>SUNY</h2>
      </ion-item>
    </ion-list>


</ion-content>
