ion-searchbar {
  background: #00A88C;
}
.anonymous-search {
  ion-list {
    ion-item:nth-child(even) {
      background-color: #FFECCC !important;
    }

    ion-item:nth-child(odd) {
      background-color: #C8D6AF !important;
      color: black;
    }
  }

  .mr-cesar-college {
    margin-top: 32px;
    text-align: center;

    img {
      width: 48px;
    }
  }

  .admissibility-list {
    margin-top: 32px;
  }



}
