ion-slide {
  background-color: #FF6700;
}

ion-slide .slide-zoom {
  height: 85vh !important;
  width: 100% !important;
}

ion-slide .intro-text {
  background-color: #FFFFFF;
  width: 90%;
  height: 380px;
  margin: 16px auto;
  border-radius: 10px;
  text-align: center;
}

.intro-text h3 {
  padding-top: 16px;
  font-size: 1.5em;
  margin: 0 16px;
}

.intro-text p {
  font-size: 1.15em;
  padding: 0 8px;
  margin: 32px;
}

.intro-text span {
  font-size: 0.75em;
}

ion-slide .mr-cesar-avatar {
  width: 90px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 380px;
}

.radio-button-list {
  margin-top: 10px;
  margin-bottom: 0;
}

.act-score {
  margin-top: 36px;
}

.radio-button-list ion-list-header {
  border: none;
  padding: none !important;
}

.radio-button-list ion-grid {
  padding: 0;
}

.intro .item-inner {
  border: none !important;
}

.centered-input {
  width: 50%;
  margin: auto;
}

.intro ion-item {
  width: 80%;
  margin: auto;
  padding: 0;
}

.intro ion-range {
  padding: 0;
}

.no-margin {
  margin: 0 0 10px 0 !important;
}

.intro-button {
  font-size: 0.90em;
  min-width: 40px !important;
}

.intro .small-col {
  padding: 43px 0 0 0 !important;
}

.intro ion-grid {
  padding: 0 !important;
}

.academic-test {
  padding: 2px 16px 0 16px !important;
}

.race-list {
  margin-top: 32px;
  ion-item {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
  }
}

.odds-slide {
  .intro-text {
    height: 310px;
    margin-top: 0;

    h3 {
      padding-top: 8px;
      font-size: 1.3em;
    }

    ion-item {
      ion-avatar {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }

  .mr-cesar-avatar-odds {
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;
  }

  .final-button {
    min-width: 120px;
    margin-top: 60px;

  }

}
