<ion-header>
  <ion-navbar favorite>
    <ion-title>
      <img src="img/logo-txt.png" class="nav-logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="intro">
  <ion-slides #introSlider (ionDidChange)="onSlideChanged()" >

    <ion-slide class="slide">
      <div class="intro-text">
        <h2>
          HELLO, MY NAME IS MR. CESAR!
        </h2>
        <br>
        <h3>
          I am going to help you build a balanced college list.
        </h3>
        <h3>
          But first, I need to get to know you.
        </h3>
      </div>
      <img src="img/mr-cesar-face.png" class="mr-cesar-avatar">
      <button fab primary fab-bottom fab-right (click)="nextSlide()" class="intro-button">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide class="slide">
      <div class="intro-text" [class.invalid]='slideOneInvalid'>
        <h3>
        WHAT'S YOUR GPA
        </h3>
        <ion-list radio-group [(ngModel)]="gpaScale" class="radio-button-list" no-lines>
          <ion-list-header >Select a GPA Scale</ion-list-header>
          <ion-grid>
            <ion-row>
              <ion-col class="left-col">
                <ion-item>
                  <ion-label>100</ion-label>
                  <ion-radio value="100" ></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>4.0</ion-label><br>
                  <ion-radio value="4" ></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>

        <span class="rangeNum" *ngIf="gpaScore && gpaScale == '4'">{{gpaScore / 10}}</span>
        <span class="rangeNum" *ngIf="gpaScore && gpaScale == '100'">{{gpaScore}}</span>

        <ion-item *ngIf="gpaScale == '4'">
          <ion-label> GPA Score </ion-label>
          <ion-range min="10" max="40" step="1" [(ngModel)]="gpaScore" secondary>
            <ion-icon range-left small name="arrow-back"></ion-icon>
            <ion-icon range-right name="arrow-forward"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item *ngIf="gpaScale == '100'">
          <ion-label> GPA Score </ion-label>
          <ion-range min="50" max="100" step="1" [(ngModel)]="gpaScore" secondary>
            <ion-icon range-left small name="arrow-back"></ion-icon>
            <ion-icon range-right name="arrow-forward"></ion-icon>
          </ion-range>
        </ion-item>


      </div>
      <img src="img/mr-cesar-face.png" class="mr-cesar-avatar">

      <button primary fab fab-bottom fab-right (click)="nextSlide()" class="intro-button">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
    <ion-slide class="slide">
      <div class="intro-text" [class.invalid]='slideTwoInvalid'>
        <h3>
          BEST TEST SCORE?
        </h3>

        <ion-list radio-group [(ngModel)]="testType" class="radio-button-list">
          <ion-list-header class="academic-test">Test</ion-list-header>

          <ion-grid>
            <ion-row>
              <ion-col class="left-col">
                <ion-item>
                  <ion-label>ACT</ion-label>
                  <ion-radio value="act" ></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>SAT</ion-label>
                  <ion-radio value="sat" ></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>

        <ion-grid *ngIf="testType == 'act'" class="act-score">
          <ion-row>
            <ion-col width-80>
              <ion-item>
                <ion-label class="no-margin"> ACT Composite Score </ion-label>
                <ion-range min="1" max="36" pin="true" step="1" [(ngModel)]="actCompositeScore" secondary>
                  <ion-icon range-left small name="arrow-back"></ion-icon>
                  <ion-icon range-right name="arrow-forward"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-col>

            <ion-col width-20 class="small-col">
              <span class="rangeNum">{{actCompositeScore}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="testType == 'sat'">
          <ion-row>
            <ion-col width-80>
              <ion-item>
                <ion-label class="no-margin"> Verbal Score </ion-label>
                <ion-range min="200" max="800" pin="true" step="10" [(ngModel)]="satVerbal" secondary>
                  <ion-icon range-left small name="arrow-back"></ion-icon>
                  <ion-icon range-right name="arrow-forward"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-col>

            <ion-col width-20 class="small-col">
              <span class="rangeNum">{{satVerbal}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="testType == 'sat'">
          <ion-row>
            <ion-col width-80>
              <ion-item *ngIf="testType == 'sat'">
                <ion-label class="no-margin"> Math Score </ion-label>
                <ion-range min="200" max="800" pin="true" step="10" [(ngModel)]="satMath" secondary>
                  <ion-icon range-left small name="arrow-back"></ion-icon>
                  <ion-icon range-right name="arrow-forward"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-col>

            <ion-col width-20 class="small-col">
              <span class="rangeNum">{{satMath}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>



      </div>
      <img src="img/mr-cesar-face.png" class="mr-cesar-avatar">

      <button primary fab fab-bottom fab-right (click)="nextSlide()" class="intro-button">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide class="slide ">
      <div class="intro-text stateRace" [class.invalid]='slideThreeInvalid'>
        <h3>
          STATE
        </h3>
        <ion-list>
          <ion-item>
            <ion-label>Choose your State</ion-label>
            <ion-select [(ngModel)]="state">
              <ion-option value="AL">AL</ion-option>
              <ion-option value="AK">AK</ion-option>
              <ion-option value="AZ">AZ</ion-option>
              <ion-option value="AR">AR</ion-option>
              <ion-option value="CA">CA</ion-option>
              <ion-option value="CO">CO</ion-option>
              <ion-option value="CT">CT</ion-option>
              <ion-option value="DE">DE</ion-option>
              <ion-option value="FL">FL</ion-option>
              <ion-option value="GA">GA</ion-option>
              <ion-option value="HI">HI</ion-option>
              <ion-option value="ID">ID</ion-option>
              <ion-option value="IL">IL</ion-option>
              <ion-option value="IN">IN</ion-option>
              <ion-option value="IA">IA</ion-option>
              <ion-option value="KS">KS</ion-option>
              <ion-option value="KY">KY</ion-option>
              <ion-option value="LA">LA</ion-option>
              <ion-option value="ME">ME</ion-option>
              <ion-option value="MD">MD</ion-option>
              <ion-option value="MA">MA</ion-option>
              <ion-option value="MI">MI</ion-option>
              <ion-option value="MN">MN</ion-option>
              <ion-option value="MS">MS</ion-option>
              <ion-option value="MO">MO</ion-option>
              <ion-option value="MT">MT</ion-option>
              <ion-option value="NE">NE</ion-option>
              <ion-option value="NV">NV</ion-option>
              <ion-option value="NH">NH</ion-option>
              <ion-option value="NJ">NJ</ion-option>
              <ion-option value="NM">NM</ion-option>
              <ion-option value="NY">NY</ion-option>
              <ion-option value="NC">NC</ion-option>
              <ion-option value="ND">ND</ion-option>
              <ion-option value="OH">OH</ion-option>
              <ion-option value="OK">OK</ion-option>
              <ion-option value="OR">OR</ion-option>
              <ion-option value="PA">PA</ion-option>
              <ion-option value="RI">RI</ion-option>
              <ion-option value="SC">SC</ion-option>
              <ion-option value="SD">SD</ion-option>
              <ion-option value="TN">TN</ion-option>
              <ion-option value="TX">TX</ion-option>
              <ion-option value="UT">UT</ion-option>
              <ion-option value="VT">VT</ion-option>
              <ion-option value="VA">VA</ion-option>
              <ion-option value="WA">WA</ion-option>
              <ion-option value="WV">WV</ion-option>
              <ion-option value="WI">WI</ion-option>
              <ion-option value="WY">WY</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <h3>RACE</h3>
        <ion-list>
          <ion-item>
            <ion-label>Choose your Race</ion-label>
            <ion-select [(ngModel)]="race">
              <ion-option value="latino">Hispanic/Latino</ion-option>
              <ion-option value="black">Black/African American</ion-option>
              <ion-option value="white">White</ion-option>
              <ion-option value="asian">Asian/Pacific Islander</ion-option>
              <ion-option value="nativeAmerican">Native American/First Nations</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>


      </div>
      <img src="img/mr-cesar-face.png" class="mr-cesar-avatar">

      <button primary fab fab-bottom fab-right
        (click)="nextSlide()" class="intro-button">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <!--<button primary fab fab-bottom fab-right
        (click)="createAnonymousUser(gpaScale, gpaScore, testType, actCompositeScore, satVerbal,
          satMath, race)" class="intro-button">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>-->
    </ion-slide>

    <ion-slide class="odds-slide">
      <div class="intro-text">
        <h2>
          CALCULATING ODDS...
        </h2>

        <ion-list no-lines class="admissibility-list">
          <ion-item>
            <ion-avatar item-left>
              <img src="img/moonshot_green.png">
            </ion-avatar>
            <h3>Moonshot</h3>
          </ion-item>

          <ion-item>
            <ion-avatar item-left>
              <img src="img/reach_green.png">
            </ion-avatar>
            <h3>Reach</h3>
          </ion-item>

          <ion-item>
            <ion-avatar item-left>
              <img src="img/target_green.png">
            </ion-avatar>
            <h3>Target</h3>
          </ion-item>

          <ion-item>
            <ion-avatar item-left>
              <img src="img/safety_green.png">
            </ion-avatar>
            <h3>Safety</h3>
          </ion-item>
        </ion-list>

      </div>
      <img src="img/mr-cesar-face.png" class="mr-cesar-avatar-odds">
      <button large primary (click)="goToHomePage()" class="final-button" *ngIf="showButton">
        Get Started
      </button>
    </ion-slide>


  </ion-slides>



</ion-content>
